main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: row;
  gap: 4em;
  align-items: center;
  justify-content: center;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
}

main div img {
  width: 4em;
}

main div h1 {
  font-size: 1.5em;
  font-weight: 600;
}

main div h3 {
  font-size: 1em;
  opacity: 0.8;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 1em;
  max-width: 50%;
}

form textarea {
  font-size: 1.2em;
  resize: none;
}

form div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

form div button {
  flex-grow: 1;
}

form button span,
form button i {
  font-size: 1.5em;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-size: 0.8em;
}

@media only screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main div img {
    width: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 100%;
  }

  form textarea {
    font-size: 1em;
    resize: none;
  }

  form button span,
  form button i {
    font-size: 1em;
  }
}
