@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark: rgb(30, 30, 30);
  --light: rgb(217, 217, 217);
  --medium: rgb(102, 102, 102);

  --dark-rgba: 30, 30, 30;
  --light-rgba: 217, 217, 217;
  --medium-rgba: 102, 102, 102;

  --xs: 576px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--medium);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: auto;
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: var(--dark);
  color: var(--light);
  border: none;
}

.light {
  background-color: var(--light);
  color: var(--dark);
  border: none;
}

.medium {
  background-color: var(--medium);
  color: var(--light);
  border: none;
}

.outline-light {
  background: none;
  color: rgba(var(--light-rgba), 0.85);
  border: 1px solid rgba(var(--light-rgba), 0.5);
}

.outline-dark {
  background: none;
  color: rgba(var(--dark-rgba), 0.85);
  border: 1px solid rgba(var(--dark-rgba), 0.5);
}

.outline-medium {
  background: none;
  color: rgba(var(--medium-rgba), 0.85);
  border: 1px solid rgba(var(--medium-rgba), 0.5);
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100dvh;
  width: auto;
  padding: 1.5em 2.5em;
  align-items: start;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em 1.2em;
  border-radius: 5px;
  border: none;
  transition: border 0.3s ease;
  border: none;
  background-color: rgba(var(--light-rgba), 0.05);
  color: var(--light);
}

.textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em 1.2em;
  border-radius: 5px;
  height: 360px;
  border: none;
  transition: border 0.3s ease;
  border: none;
  background-color: rgba(var(--light-rgba), 0.05);
  color: var(--light);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: start;
  justify-content: start;
  background-color: rgba(var(--light-rgba), 0.025);
  border: 1px solid rgba(var(--medium-rgba), 0.15);
  border-radius: 5px;
  box-shadow: 0 0 5px #00000050;
}
