.container-home {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 2em;
  height: 100dvh;
  width: auto;
  padding: 1.5em 1em;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

aside {
  display: flex;
  min-width: 15%;
  height: 100%;
  padding: 1em;
  flex-direction: column;
  gap: 1em;
  flex-grow: 1;
  border: 1px solid rgba(var(--medium-rgba), 0.5);
  border-radius: 5px;
  background-color: rgba(var(--light-rgba), 0.05);
}

footer {
  display: none;
}

.home-aside-logo {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 1em;
}

.home-aside-logo h1 {
  font-size: 1em;
  font-weight: 500;
}

.home-aside-logo img {
  width: 1rem;
}

.home-aside-menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1em;
}

.home-aside-menu span {
  font-size: 0.8em;
}

.home-aside-menu .menu-label {
  opacity: 0.5;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}

.home-aside-menu-footer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.home-aside-menu-footer div {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  font-size: 0.95em;
}

.home-aside-menu-footer button {
  width: fit-content;
}

main {
  display: grid;
  height: 100%;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: auto;
}

.card-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 2px solid rgba(var(--medium-rgba), 0.1);
}

.card-header-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card-header h3 {
  font-size: 1.25em;
  opacity: 0.8;
  font-weight: 500;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
}

.card-body div {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.card-body div i {
  opacity: 0.5;
}

.reminder-content {
  font-size: 1em;
}

.reminder-date,
.reminder-user {
  opacity: 0.65;
  font-size: 0.8em;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.25;
  }
}

.card-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(var(--light-rgba), 0.1);
  border: 1px solid rgba(var(--medium-rgba), 0.15);
  border-radius: 5px;
  box-shadow: 0 0 5px #00000050;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

.card-skeleton-header {
  display: flex;
  width: 100%;
  padding: 1.5em;
  border-radius: 5px;
  background-color: rgba(var(--light-rgba), 0.05);
}

.card-skeleton-body {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 3em;
  border-radius: 5px;
  background-color: rgba(var(--light-rgba), 0.05);
}

.card-skeleton-footer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(var(--light-rgba), 0.05);
}

@media only screen and (max-width: 1280px) {
  .container-home {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2em;
    height: 100dvh;
    width: auto;
    padding: 1.5em 1em;
    align-items: center;
    justify-content: space-between;
  }

  aside {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-top: 2px solid rgba(var(--medium-rgba), 0.1);
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
  }

  .footer-icon img {
    width: 1.5rem;
  }

  footer ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 0 2em;
  }

  footer ul a {
    font-size: 0.8em;
  }

  footer ul i {
    font-size: 1.5em;
  }

  footer button i {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    display: grid;
    height: 100%;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 630px) {
  main {
    display: grid;
    height: 100%;
    gap: 1em;
    grid-template-columns: 1fr;
    overflow-y: auto;
  }

  footer ul li span {
    display: none;
  }
}
